body { 
    font-family: "Montserrat", sans-serif;
    color : white;
    background-color : #d4bc5b;
}
h1 {
    color: black; 
    border: 2px solid Black; 
    background-color:#e0d5a6;
    padding: 20px;
    text-align:center;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
        background-color: #e0d5a6;
    position: sticky;	
    top:10px;
    width:100%;
}

li{ 	 float:left;
        border-right: 1px solid #bbb;
}

li a {
    text-align:center;
    color:black;
    display:block;
    padding: 8px 16px;
    text-decoration: none;
    }

li a:hover{
    background-color: #555; 
    color:white;
}

.active{
    background-color:red
}

#titre_page{
    text-align: center;
}

#Liste_resto{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 15px ;
    row-gap:15px;
}

.resto{
    background: #919191; /* trouver commment mettre de la transparence sur le gris (le fond seulement) */
    border-radius : 10px;
    border : 3px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
} 

