/* Fond des page */
body { 
    font-family: "Montserrat", sans-serif;
    color : white;
    background-color : #E9F1FC;
}

/* Titre */
h1 {
    color: black; 
    border: 2px solid Black; 
    background-color:#C4E0FF;
    padding: 20px;
    text-align:center;
    border-radius: 10px;
}

#titre_page{
    text-align: center;
}

#sous_titre{
    text-align: center;
}

/* Bandeau de menu */
ul#menu {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
        background-color: #C4E0FF;
    position: sticky;	
    top:10px;
    width:100%;
}

li.sous_menu{ 	 float:left;
        border-right: 1px solid #bbb;
}

li.sous_menu a {
    text-align:center;
    color:black;
    display:block;
    padding: 8px 16px;
    text-decoration: none;
    }

li.sous_menu a:hover{
    background-color: #555; 
    color:white;
}

h3{
    color: black;
}

#list-filtre{
    display: block;
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    z-index: 99;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#list-filtre ul{
    display: flex;
    flex-direction: column;

    position: absolute;
    margin: 0;
    left: 0;
    top: 20;

    min-width: 30vw;
    height: 100vh;
    padding: 56px 0 0;

    text-align: center;

    background: #C4E0FF;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
}

#list-filtre button{
    color: black;
}

#list-filtre li{
    padding: 12px 24px;
}

#list-filtre label{
    white-space: nowrap;
    color: #333;
    text-decoration: none;
}

#list-filtre.open {
    transform: none;
    position: fixed;
}

.type_filtre {
    color: black;
}

/* Affichage de la liste des resto proposés */
#Liste_resto{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 14px;
}

.resto{
    grid-column-start: 2;
    grid-column-end: -2;
    background: #80B5D1; 
    border-radius : 10px;
    border : 3px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
} 

.resto a{
    text-decoration: none;
    text-transform: capitalize;
    color:#120e0e;
}


/* Formulaire */
#form{
    color: black;
    margin: 3em auto;
    width: 500px;
    padding: 2em;
    border: 1px solid #120e0e;
    border-radius: 1em;
}

ul#form_{
    list-style: none;
    padding: 0;
    margin: 0;
}

textarea{
    vertical-align: top;
    height: 5em;
    resize: vertical;
    font: 1em sans-serif;
}

button{
    margin: 1em;
}

/* message qui s'affiche lors de la soumission d'un formulaire */
#message_erreur{
    color: red;
}

/* dessine un coeur */
#coeur {
    position: absolute;
    width: 50px;
    height: 45px;
    margin: 10px;
}
#coeur:before,
#coeur:after {
    position: absolute;
    content: "";
    left: 25px;
    top: 0;
    width: 25px;
    height: 40px;
    background: red;
    border-radius: 25px 25px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
#coeur:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

/* style de la page d'affichage d'un resto */

h2{
    text-align: center;
    color: black;
}

#list_commentaire{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

#adresse{
    grid-column: span 1 / span 1;
    grid-row: span 1 / span 1;
    grid-column-start: 5;
    grid-row-start: 1;
}

#prix{
    grid-column: span 1 / span 1;
    grid-row: span 1 / span 1;
    grid-column-start: 5;
    grid-row-start: 2;
}

#adresse,
#prix,
#ajout_comment,
.commentaire{
    background: #80B5D1; 
    border-radius : 10px;
    border : 3px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

.commentaire{
    grid-column: span 4/ span 4;
}

#ajout_comment{
    grid-column: span 4/ span 4;
}

#croix{
    position:absolute;
}