/* Fond des page */
body { 
    font-family: "Montserrat", sans-serif;
    color : white;
    background-color : #E9F1FC;
}

/* Titre */
h1 {
    color: black; 
    border: 2px solid Black; 
    background-color:#C4E0FF;
    padding: 20px;
    text-align:center;
    border-radius: 10px;
}

#titre_page{
    text-align: center;
}

#sous_titre{
    text-align: center;
}

/* Bandeau de menu */
ul#menu {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
        background-color: #C4E0FF;
    position: sticky;	
    top:10px;
    width:100%;
}

li.sous_menu{ 	 float:left;
        border-right: 1px solid #bbb;
}

li.sous_menu a {
    text-align:center;
    color:black;
    display:block;
    padding: 8px 16px;
    text-decoration: none;
    }

li.sous_menu a:hover{
    background-color: #555; 
    color:white;
}

h3{
    color: black;
}

#list-filtre{
    display: block;
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    z-index: 99;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#list-filtre ul{
    display: flex;
    flex-direction: column;

    position: absolute;
    margin: 0;
    left: 0;
    top: 20;

    min-width: 30vw;
    height: 100vh;
    padding: 56px 0 0;

    text-align: center;

    background: #C4E0FF;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
}

#list-filtre button{
    color: black;
}

#list-filtre li{
    padding: 12px 24px;
}

#list-filtre label{
    white-space: nowrap;
    color: #333;
    text-decoration: none;
}

#list-filtre.open {
    transform: none;
    position: fixed;
}

.type_filtre {
    color: black;
}

/* Affichage de la liste des resto proposés */
#Liste_resto{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 15px ;
    row-gap:15px;
}

.resto{
    background: #80B5D1; 
    border-radius : 10px;
    border : 3px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
} 


/* Formulaire */
#form{
    color: black;
    margin: 3em auto;
    width: 500px;
    padding: 2em;
    border: 1px solid #120e0e;
    border-radius: 1em;
}

ul#form_{
    list-style: none;
    padding: 0;
    margin: 0;
}

textarea{
    vertical-align: top;
    height: 5em;
    resize: vertical;
    font: 1em sans-serif;
}

button{
    margin: 1em;
}

/* message qui s'affiche lors de la soumission d'un formulaire */
#message_erreur{
    color: red;
}